.width10 {
  max-width: 10px;
}
.width20 {
  max-width: 20px;
}
.width30 {
  max-width: 30px;
}
.width40 {
  max-width: 40px;
}
.width50 {
  max-width: 50px;
}
.width60 {
  max-width: 60px;
}
.width70 {
  max-width: 70px;
}
.width80 {
  max-width: 80px;
}
.width90 {
  max-width: 90px;
}
.width100 {
  max-width: 100px;
}
.width110 {
  max-width: 110px;
}
.width120 {
  max-width: 120px;
}
.width130 {
  max-width: 130px;
}
.width140 {
  max-width: 140px;
}
.width150 {
  max-width: 150px;
}
.width160 {
  max-width: 160px;
}
.width170 {
  max-width: 170px;
}
.width180 {
  max-width: 180px;
}
.width190 {
  max-width: 190px;
}
.width200 {
  max-width: 200px;
}
.width210 {
  max-width: 210px;
}
.width220 {
  max-width: 220px;
}
.width230 {
  max-width: 230px;
}
.width240 {
  max-width: 240px;
}
.width250 {
  max-width: 250px;
}
.width260 {
  max-width: 260px;
}
.width270 {
  max-width: 270px;
}
.width280 {
  max-width: 280px;
}
.width290 {
  max-width: 290px;
}
.width300 {
  max-width: 300px;
}
.width310 {
  max-width: 310px;
}
.width320 {
  max-width: 320px;
}
.width340 {
  max-width: 340px;
}
.width350 {
  max-width: 350px;
}

//Height
.height300 {
  max-height: 300px;
}