//Absolute top
.topAbsolute4 {
  top: 4px;
}
.topAbsolute8 {
  top: 8px;
}
.topAbsolute16 {
  top: 16px;
}
.topAbsolute32 {
  top: 32px;
}
.topAbsolute64 {
  top: 64px;
}
.topAbsolute128 {
  top: 128px;
}

//Absolute bottom
.bottomAbsolute4 {
  bottom: 4px;
}
.bottomAbsolute8 {
  bottom: 8px;
}
.bottomAbsolute16 {
  bottom: 16px;
}
.bottomAbsolute32 {
  bottom: 32px;
}
.bottomAbsolute64 {
  bottom: 64px;
}
.bottomAbsolute128 {
  bottom: 128px;
}

//Absolute left
.leftAbsolute4 {
  left: 4px;
}
.leftAbsolute8 {
  left: 8px;
}
.leftAbsolute16 {
  left: 16px;
}
.leftAbsolute32 {
  left: 32px;
}
.bottomAbsolute64 {
  bottom: 64px;
}
.bottomAbsolute128 {
  bottom: 128px;
}

//Absolute right
.rightAbsolute4 {
  right: 4px;
}
.rightAbsolute8 {
  right: 8px;
}
.rightAbsolute16 {
  right: 16px;
}
.rightAbsolute32 {
  right: 32px;
}
.rightAbsolute64 {
  right: 64px;
}
.rightAbsolute128 {
  right: 128px;
}


//Relative top
.topRelative4 {
  margin-top: 4px;
}
.topRelative8 {
  margin-top: 8px;
}
.topRelative16 {
  margin-top: 16px;
}
.topRelative32 {
  margin-top: 32px;
}
.topRelative64 {
  margin-top: 64px;
}
.topRelative128 {
  margin-top: 128px;
}

//Relative bottom
.bottomRelative4 {
  margin-bottom: 4px;
}
.bottomRelative8 {
  margin-bottom: 8px;
}
.bottomRelative16 {
  margin-bottom: 16px;
}
.bottomRelative32 {
  margin-bottom: 32px;
}
.bottomRelative64 {
  margin-bottom: 64px;
}
.bottomRelative128 {
  margin-bottom: 128px;
}

//Relative left
.leftRelative4 {
  margin-left: 4px;
}
.leftRelative8 {
  margin-left: 8px;
}
.leftRelative16 {
  margin-left: 16px;
}
.leftRelative32 {
  margin-left: 32px;
}
.leftRelative64 {
  margin-left: 64px;
}
.leftRelative128 {
  margin-left: 128px;
}

//Relative right
.leftRelative4 {
  margin-right: 4px;
}
.leftRelative8 {
  margin-right: 8px;
}
.leftRelative16 {
  margin-right: 16px;
}
.leftRelative32 {
  margin-right: 32px;
}
.leftRelative64 {
  margin-right: 64px;
}
.leftRelative128 {
  margin-right: 128px;
}