//Margin
.spacing4 {
  padding: 4px;
}
.spacing8 {
  padding: 8px;
}
.spacing16 {
  padding: 16px;
}
.spacing32 {
  padding: 32px;
}
.spacing64 {
  padding: 64px;
}
.spacing64 {
  padding: 128px;
}

//Margin inline
.spacingX4 {
  padding: 0 4px;
}
.spacingX8 {
  padding: 0 8px;
}
.spacingX16 {
  padding: 0 16px;
}
.spacingX32 {
  padding: 0 32px;
}
.spacingX64 {
  padding: 0 64px;
}
.spacingX64 {
  padding: 0 128px;
}

//Margin block
.spacingY4 {
  padding: 4px 0;
}
.spacingY8 {
  padding: 8px 0;
}
.spacingY16 {
  padding: 16px 0;
}
.spacingY32 {
  padding: 32px 0;
}
.spacingY64 {
  padding: 64px 0;
}
.spacingY64 {
  padding: 128px 0;
}