&.size {
  &--xs {
    padding: 14px 14px;
  }

  &--s {
    padding: 14px 14px;
  }

  &--l {
    padding: 18px 24px;
  }

  &--xl {
    padding: 22px 40px 22px 40px;
  }

  &--xxl {
    padding: 22px 40px 22px 40px;
  }
}
